body{
        background: linear-gradient(90deg, rgb(1, 2, 49) 0%, rgb(5, 5, 71) 45%, rgb(8, 8, 75) 100%);
        color: whitesmoke;
}

h1{
        text-align: center;
        color: red;
}

#grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto ;       
        padding: 10px;
}

.grid-item{
        background-color: crimson;
        padding: 1rem;
        margin: 0.5rem;
        width: 1rem;  
}

@media screen and (max-width: 768px) {
        #grid-container{              
                grid-template-columns: auto auto auto auto ;               
        }

}